
ion-card {
    margin: 10px;
    ion-thumbnail {
      width: 80px;
      height: 80px;
      margin-right: 10px; 
    }
}
  
on-card-title {
    font-size: 18px; 
}
  
ion-card-subtitle {
    font-size: 14px; 
    color: #888; 
}
  